body {
    padding-top: 80px;
    font-family: 'Ubuntu', sans-serif;  
}

th.results-id-col {
    width: 41px;
}

th.results-body-col {
    width: 100%;
}

#notetaker_get {
    text-align: right;    
}

#notetaker_delete {
    text-align: right;    
}

.edit-note-form {
  display: none;
  padding-top: 15px;
  margin-bottom: 5px;
}

.edit-note-form button {
    float: right;
}

.form-group {
    white-space: nowrap;
    overflow: hidden; 
    padding-right: .5em;
    height : 31px;
}

.form-group input {
    height : 31px;
}
